{
  "title" :             "accessorize.js",
  "content_file" :      "README.md",
  "include_index" :     true,
  "docco_files" :       "src/*.coffee",
  "header" :            "accessorize.js",
  "subheader" :         "Add fancy-ass-observable-hyper-helpful accessors to any object.",
  "background" :        "circles",
  "output" :            "_site"
}
